@primary-color: #c1b087;
@primary-dark-color: #9c743c;
@brown-color: #3c372f;
@text-color: rgba(0, 0, 0, 0.7);
@text-second-color: rgba(0, 0, 0, 0.5);
@text-third-color: rgba(0, 0, 0, 0.3);
@divider-dark-color: rgba(0, 0, 0, 0.2);
@divider-white-color: rgba(255, 255, 255, 0.2);
@background-gray: #f5f5f5;